/* *{
    background-color: lightblue;
}
.imgi{
    height: 100px;
}

.outt{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.bar{
    margin-right: 100px;
    margin-top: 20px;
    
}

.home{
    font-size: larger;
    border-color: blue;
}
.about{
    font-size: larger;
    border-color: blue;
}
.price{
    font-size: larger;
    border-color: blue;
}
.contact{
    font-size: larger;
    border-color: blue;
}

.basicout{
    
    background-color: lightpink;
} */